.borde {
  border: 5px solid #000;
  border-radius: 10px;
  animation: borderAnimation 5s infinite;
}

@keyframes borderAnimation {
  0% {
    border-color: #000;
  }
  20% {
    border-color: coral;
  }
  50% {
    border-color: #000;
  }
  75% {
    border-color: #00f;
  }
  100% {
    border-color: #000;
  }

}

button:hover{
  background-color: #0f0;
}

.container{
  margin-top: 100px;
}